<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<form name="sign_in" id="form_0"  method="POST" action="" enctype=multipart/form-data>
  <div class="input">
    <div class="blockinput">
      <input type="text" name="username" placeholder="username">
    </div>

    <div class="blockinput">
      <input type="password" name="password" placeholder="password">
    </div>
  </div>
  <div>
    <input class="in_submit" type="submit" value="login">
  </div>
</form>
</body>
</html>